@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-sora: 'Sora', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-alice: 'Alice', serif;
}

body {
  background: #fafafa;
  color: #171717;
  font-family: 'Sora', Helvetica, sans-serif;
}
